body{
    margin: 0;
    background-color:grey;
}
.main{
    height: 200px;
    width: 174px;
    background-color: lightgray;
    margin: 0 auto;
}
button{
    width:  174px;
    height: 20px;
}
input{
    height: 20px;
}
input:after{
    margin: 5px;
}